.productPage {


}

.content {
  display: flex;
  gap: 3%;
  justify-content: center;
  margin-top: 5%;

}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin: 10% 0;

  & button {
    border: none;
    background-color: #eec09f;
    padding: 5px 10px;
    cursor: pointer;
  }
}
.paginationNumber{
  display: flex;
  gap: 5px;
}