.header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  gap: 8px;
  background-color: #ffffff;
  & span{

    cursor: pointer;
    background-image: linear-gradient(90deg, #f1bd17, #c46211, #286b43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
  }
}